<p class="text-slate-600">Playing with Angular FormBuilder</p>

<div class="max-w-xl mt-8">
    <div class="bg-white shadow hover:shadow-md sm:rounded-lg my-4">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-2xl font-extrabold leading-6 text-slate-700">Use predefined form</h3>
            <div class="mt-2 max-w-xl text-sm text-slate-500">
                <p>A form group, with validation and processing on input change</p>
            </div>
            <div class="mt-5">
                <button type="button" routerLink="/forms/predefined"
                        class="transition-all inline-flex items-center justify-center shadow rounded-md border border-transparent bg-primary/95 px-4 py-2 font-medium text-white/90 hover:bg-primary
                        focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:text-white text-base sm:text-sm uppercase">
                    Let's go
                </button>
            </div>
        </div>
    </div>

    <div class="bg-white shadow hover:shadow-md sm:rounded-lg my-4">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-2xl font-extrabold leading-6 text-slate-700">Build your custom form</h3>
            <div class="mt-2 max-w-xl text-sm text-slate-500">
                <p>Define your own form with custom fields, validations ...</p>
            </div>
            <div class="mt-5">
                <button type="button" routerLink="/forms/custom"
                        class="transition-all inline-flex items-center justify-center shadow rounded-md border border-transparent bg-primary/95 px-4 py-2 font-medium text-white/90 hover:bg-primary
                        focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:text-white text-base sm:text-sm uppercase">
                    Let's go
                </button>
            </div>
        </div>
    </div>
</div>
